In [3]:
import pandas as pd
import numpy as nm

In [4]:
df=pd.read_csv("glass.csv")

In [5]:
df.isna().sum()

RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

In [6]:
df.duplicated().sum()

1

In [7]:
print(df.dropna(inplace=True))

None

In [8]:
display(df.dtypes)

RI      float64
Na      float64
Mg      float64
Al      float64
Si      float64
K       float64
Ca      float64
Ba      float64
Fe      float64
Type      int64
dtype: object

In [11]:
df = df.astype({"RI": 'int64', "Na": 'int64','Mg':'int64',"Al": 'int64', "Si": 'int64','K':'int64',"Ca": 'int64', "Ba": 'int64','Fe':'int64'})
df.to_csv("glass.csv")

In [12]:
display(df.dtypes)

RI      int64
Na      int64
Mg      int64
Al      int64
Si      int64
K       int64
Ca      int64
Ba      int64
Fe      int64
Type    int64
dtype: object